html{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
#container {
  min-height: 100vh;
  min-width: 100vw;
  top:0;
  left:0;
  margin:0;
  display: flex;
  align-items: flex-end;
  z-index:1;
  position: relative;
  
}
#piano{
  min-height: 100%;
  min-width: 100%;
  top:0;
  left:0;
  margin:0;
  display: flex;
  float: left;
  /* align-items: flex-start; */
  z-index:2;
  position: relative;
}
.octane{
  min-height: 100%;
  width: 14%;
  display: flex;
  z-index: 4;
  position: relative;
}
.keys{
  background-color: yellow;
  float: left;
  height: 30em;
  padding: 0;
  margin:0;
  width: 14%;
  outline: 1px solid red;

}
.octane .blacks2{
  position: absolute;
  display: flex;
  float: left;
  margin:0;
  height:40px;
  width:48%;
  z-index: 5;
}
.pressed{
  background-color: grey;
}
.black2s{
  background-color: black;
  height:100%;
  width: 10%;
  margin: 0 0 0 22%;
}
.octane .blacks3{
  position: absolute;
  display: flex;
  
  float: left;
  margin-left:48%;
  height:40px;
  width:52%;
  z-index: 5;
}
.black3s{
  background-color: black;
  height:100%;
  width: 10%;
  margin: 0 0 0 13.5%;
}